<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/register-style.css')}}">
</head>
<body>
    <a href="{{ url_for('index') }}"><button>Главная</button></a>
    <h1>Профиль</h1>
    <h2>Логин: </h2><p>{{user.login}}</p>
    {% if user.type_user == 1 %}
        <h2>Статус: </h2><p>Пользователь({{user.type_user}})</p>
    {% elif user.type_user == 2 %}
        <h2>Статус: </h2><p>Админ(продавец)({{user.type_user}})</p>
    {% elif user.type_user == 3 %}
        <h2>Статус: </h2><p>Суперадминистратор({{user.type_user}})</p>
    {% endif %}
    <a href="{{ url_for('logout') }}"><button>Выйти</button></a>
</body>
</html>