<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/register-style.css')}}"> -->
</head>
</head>
<body>
    {% include '_navbar.html' %}
    <div class="auth-container">
        <h1>Регистрация</h1>
        <form action="/register" method="POST" novalidate>
            <div class="form-group">
                <label for="">Логин:</label>
                <input type="text" name="login"  required class="form-input">
            </div>
            
            <div class="form-group">
                <label for="">Пароль:</label>
                <input type="password" name="pass1" required class="form-input">
            </div>

            <div class="form-group">
                <label for="">Потверждение пароля:</label>
                <input type="password" name="pass2" required class="form-input">
            </div>

            <div class="form-group">
                <label for="">Тип пользователя: </label>
                <select name="type_user" id="type_user">
                    <option value="1">пользователь</option>
                    <option value="2">админ(продавец)</option>
                    <option value="3">супер администратор</option>
                </select>
            </div>
            
            <div id="secret_key_div" style="display:none;">
                <label for="">Секретный ключ:</label>
                <input type="password" name="key" class="form-input">
            </div>
        
            <div>
                <button type="submit" class="btn">Регистрация</button>
            </div>
        </form>

        <div class="errors">
            {% for error in errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>

        <script>
            const select = document.getElementById("type_user")
            const secretDiv = document.getElementById("secret_key_div")
            select.addEventListener("change", function() {
                if(select.value == "3") {
                    secretDiv.style.display = "block"
                }
                else {
                    secretDiv.style.display = "none"
                }
            })
        </script>
    </div>
</body>
</html