<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include '_navbar.html' %}
    <h1>Users</h1>
    {% for user in users %}
        <div class="auth-container">
            <p>Login: {{ user["1"] }}</p>
            <p>Type: {{ user["3"] }}</p>

            <form method ="post" action="/super_admin/delete_user/{{ user['id']}}">
                <button type="submit" class="btn">Удалить</button>
            </form>
        </div>
    {% endfor %}
</body>
</html>