<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include '_navbar.html' %}
    <h1>Users</h1>
    {% for user in users %}
        <div class="auth-container">
            <p>Логин: {{ user[1] }}</p>
            {% if user[2] == 1 %}
                <p>Тип: пользователь(user)</p>
            {% elif user[2] == 2 %}
                <p>Тип: продавец(admin)</p>
            {% elif user[2] == 3 %}
                <p>Тип: суперадминистратор(super_admin)</p>
            {% else %}
                <p>Ошибка</p>
            {% endif %}


            {% if user[3] %}
                <p>Товар: {{ user[4] }}</p>
            {% else %}
                <p>Товаров нет</p>
            {% endif %}

            <form method ="post" action="/super_admin/delete_user/{{ user[0] }}">
                <button type="submit" class="btn">Удалить</button>
            </form>

        </div>
    {% endfor %}
</body>
</html>